body {
	width: 100%;
	height: 100%;
	padding-top: 100px;
}
html {
	width: 100%;
	height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
.content-section {
	min-height: 300px;
    padding-top: 70px;
    padding-bottom: 0px;
    text-align: center;
    background: #fff;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

